.App {
  text-align: center;
}

.body {;
  background-color: #B9D7EA;
}

.footer {
  background-color: salmon;
}

.header {
  background-color: lightcoral;
}

.menu-and-image {
  display: flex;
  justify-content: start;
}

.menu-left {
  justify-content: left;
  align-items: center;
  display: flex;
  background-color: #769FCD;
  font-family: 'roboto';
}

.portrait {
  max-width: 450px;
}

.menu-selection{
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 10px;
}

.menu-selection:hover {
  color: white;
}

.name {
  font-size: 35px;
}