.App {
  text-align: center;
}

.body {
  background-color: #B9D7EA;
}

.footer {
  background-color: salmon;
}

.header {
  background-color: lightcoral;
}

.menu-and-image {
  display: flex;
  justify-content: start;
}

.menu-left {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #769FCD;
  font-family: 'roboto';
  width: 100%;
  flex-shrink: 1;
}

.portrait {
  max-width: 450px;
}

.menu-selection{
  color: black;
  /* background-color: pink; */
  text-decoration: none;
  font-size: 17px;
  padding: 20px;
  max-width: 100%;
}

.menu-selection:hover {
  color: white;
}

.name {
  /* background-color: red; */
  font-size: 30px;
  min-width: 200px;
  display: flex;
  justify-content: center;
}